.area__imgVoltar {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 2.5rem;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 1000;    
}

@media (min-width: 1800px) {  
  /* btnVoltar */ 
  .area__imgVoltar.showBtnVoltar {
    opacity: 0.4; /* opacidade baixa */
    pointer-events: auto;
  }

  .area__imgVoltar:hover {
    opacity: 1;
    transform: translateY(-4px);
    color: #F7D354;
  }

  .area__imgVoltar{
    transition: color 0.3s ease, opacity 0.3s ease;
  }
  /* /btnVoltar */
}
