footer{
    width: 100%;
    height: 150px;
}

footer .footer__textos{
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .footer__textos h2{
    font-size: 1.5rem;
    text-transform: uppercase;
}

footer .footer__textos span{
    display: block;
}