footer{
    width: 100%;
    margin-top: 2rem;
}

footer .footer__textos{
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #121212;
}

footer .footer__textos h2{
    font-size: 1.5rem;
    text-transform: uppercase;
}

footer .footer__textos span{
    display: block;
}

.img__voltar{
    font-size: 3rem;
}