*{
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

:root{
   --brancoTotal      : #ffffff;
   --pretoTotal       : #000000;
   --cinzaEscuro      : #111111;
   --cinzaClaro       : #121212;
   --amareloClaro     : #f7d354;
   --amareloEscuro    : #b8930c;
}

body{
  background-color: var(--pretoTotal);
  color: var(--brancoTotal);
  position: relative;
}

a{
  color: var(--amareloClaro);
  text-decoration: none;
  transition: .5s;

  &:hover{
    color: var(--amareloEscuro);
  }
}
